[submodule "submodules/auto-complete"]
	path = submodules/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "submodules/auto-complete-clang"]
	path = submodules/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang.git
[submodule "submodules/yasnippet"]
	path = submodules/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "submodules/gist"]
	path = submodules/gist
	url = https://github.com/defunkt/gist.el.git
[submodule "submodules/lua-mode"]
	path = submodules/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "submodules/highlight-symbol"]
	path = submodules/highlight-symbol
	url = https://github.com/nschum/highlight-symbol.el.git
[submodule "submodules/markdown-mode"]
	path = submodules/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "submodules/predictive-mode"]
	path = submodules/predictive-mode
	url = http://www.dr-qubit.org/git/predictive.git
[submodule "submodules/expand-region"]
	path = submodules/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "submodules/mark-multiple"]
	path = submodules/mark-multiple
	url = git://github.com/magnars/mark-multiple.el.git
[submodule "submodules/arduino-mode"]
	path = submodules/arduino-mode
	url = https://github.com/bookest/arduino-mode.git
[submodule "submodules/helm"]
	path = submodules/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "submodules/popup"]
	path = submodules/popup
	url = https://github.com/m2ym/popup-el.git
[submodule "submodules/magit"]
	path = submodules/magit
	url = git://github.com/magit/magit.git
[submodule "submodules/gh"]
	path = submodules/gh
	url = https://github.com/sigma/gh.el.git
[submodule "submodules/tabulated-list"]
	path = submodules/tabulated-list
	url = https://github.com/sigma/tabulated-list.el.git
[submodule "submodules/pcache"]
	path = submodules/pcache
	url = https://github.com/sigma/pcache.git
[submodule "submodules/logito"]
	path = submodules/logito
	url = https://github.com/sigma/logito.git
[submodule "submodules/ace-jump-mode"]
	path = submodules/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "submodules/regpop"]
	path = submodules/regpop
	url = git://github.com/filsinger/regpop.el.git
[submodule "submodules/smarttabs"]
	path = submodules/smarttabs
	url = git://github.com/jcsalomon/smarttabs.git
[submodule "submodules/powerline"]
	path = submodules/powerline
	url = git://github.com/filsinger/emacs-powerline.git
[submodule "submodules/rainbow-mode"]
	path = submodules/rainbow-mode
	url = git://github.com/emacsmirror/rainbow-mode.git
[submodule "submodules/autopair"]
	path = submodules/autopair
	url = git://github.com/capitaomorte/autopair.git
[submodule "submodules/p4"]
	path = submodules/p4
	url = git://github.com/filsinger/p4.el.git
[submodule "submodules/csearch-mode"]
	path = submodules/csearch-mode
	url = git://github.com/filsinger/csearch-mode.git
