"Icon^M^M"
*.elc
*~
.DS_Store
.VolumeIcon.icns
.dropbox
.fseventsd
.smex-items
Icon?
Icon^M^M
ac-comphist.dat
auto-save-list/
auto-save/
eln-cache/
elpa/
local-custom.el
recentf
tramp
transient/
private/
