"Icon^M^M"
*.elc
*~
.DS_Store
.VolumeIcon.icns
.dropbox
.fseventsd
.smex-items
Icon?
Icon^M^M
ac-comphist.dat
auto-save-list/
auto-save/
eln-cache/
elpa/
ido.last
local-custom.el
private/
recentf
smex-items
tramp
transient/
