"Icon^M^M"
*.elc
*.lsp-session-*
*~
.DS_Store
.VolumeIcon.icns
.cache/
.dap-breakpoints
.dropbox
.fseventsd
.ido.last
.org-id-locations
.smex-items
Icon?
Icon^M^M
ac-comphist.dat
auto-save-list/
auto-save/
eln-cache/
elpa/
local-custom.el
org-persist/
private/
projectile-bookmarks.eld
projects
recentf
smex-items
tramp
transient/
